/* =======================================
  Tela de jogo
  ======================================= */


img {
  width: 170px;
  height: 170px;
  cursor: pointer;
}

h1 {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: auto 1fr; 
}

.cabecalho {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tabuleiro {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;   
}

dialog {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
}

dt {
  font-size: 1.5rem;
  font-weight: bold;
}

.modal-conteudo {
  background-color: white;
  padding: 2rem;
  width: 25%; 
  border-radius: 10px;
}

.configuracoes-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.item {
  display: flex;
  flex-direction: column;
}
