/* =======================================
  Tela de jogo
  ======================================= */

dd {
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

dialog {
  border: none;
  padding: 0;
  overflow: auto;
  border-radius: 10px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

dt {
  margin: 1rem 0;
  font-size: 1.1rem;
  font-weight: bold;
}

h1,
h2,
h3 {
  margin: 0;
}

img {
  cursor: pointer;
  height: 150px;
  width: 150px;
}

.cabecalho {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 15vw;
}

.container {
  display: grid;
  grid-template-columns: auto 1fr;
}

.modal-conteudo {
  background-color: white;
  padding: 2rem;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.tabuleiro {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(4, 1fr);
}

.tabuleiro.grid-6x6 {
  grid-template-columns: repeat(6, 1fr);
  width: 630px;
}

.tabuleiro.grid-8x8 {
  grid-template-columns: repeat(8, 1fr);
  width: 840px;
}

.botao-navegacao {
  border: none;
  background-color: transparent;
  padding: 0;
  color: var(--text-color);
  box-shadow: none;
  font-size: 1.2rem;
  outline: none;
}

.botao-navegacao:hover {
  cursor: pointer;
  color: var(--dominante);
}

.card {
  background-color: var(--dominante);
}

.icon {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card.virada {
  background-color: #ffffff;
}

.card.virada .icon {
  opacity: 1;
}

#botao-trapaca {
  display: none;
}

#tempo {
  display: none;
}

@media screen and (max-width: 1540px) {
  .modal-conteudo button {
    display: inline-block;
    margin-bottom: 1rem;
  }

  #botao-aplicar {
    float: none;
  }
}

@media screen and (max-width: 1024px) {
  img {
    height: 100px;
    width: 100px;
  }

  .container {
    display: inline-block;
    text-align: center;
  }

  .cabecalho {
    display: inline-block;
    width: auto;
    margin-bottom: 1rem;
  }

  h1,
  h2,
  button {
    margin-bottom: 1rem;
  }

  .modal-conteudo {
    width: 35%;
  }
}

@media screen and (max-width: 700px) {
  .modal-conteudo {
    width: 50%;
  }
}

@media screen and (max-width: 450px) {
  .tabuleiro {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-itens {
    display: inline-block;
  }

  dd {
    margin-bottom: 1rem;
  }
}