/* =======================================
<<<<<<< HEAD
  Tela de login
  ======================================= */


.login-central a {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.formulario form {
    display: flex;
    flex-direction: column;
    padding: 0rem 4rem 4rem 4rem;
}

.formulario form input {
    margin-bottom: 1.5rem;
}

.login-central a {
    text-align: center;
    text-decoration: none;
}

.login-central a:hover {
    text-decoration:underline;
}

.entrar-button {
    width: 100%;
}