/* =======================================
  Cores
  ======================================= */

:root {
  --base: #F7F4EA;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --dominante: #A8BBA3;
  --form-background-color: #ffffff;
  --quaternaria: #a8bba344;
  --secundaria: #EBD9D1;
  --terciaria: #B87C4C;
  --text-color: #444;
}

/* =======================================
  Padrões gerais
  ======================================= */

body {
  background-color: var(--base);
  color: var(--text-color);
  font-family: Arial;
  padding: 0;
}

footer {
  background-color: var(--terciaria);
  color: var(--base);
  padding: 1rem;
  text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
}

input {
  border: 1px solid var(--text-color);
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 1rem;
  padding: 1rem;
}

input:focus {
  border-color: var(--dominante);
  outline: none;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

main {
  flex: 1;
  margin: 2rem;
}

main, body {
  display: flex;
  flex-direction: column;
}

p {
  font-size: 1rem;
  margin: 0;
}