/* =======================================
  Cores
  ======================================= */

:root {
  --base: #F7F4EA;
  --dominante: #A8BBA3;
  --secundaria: #EBD9D1;
  --terciaria: #B87C4C;
  --quaternaria: #a8bba344;
  --text-color: #444;

  --form-background-color: #ffffff;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
}

/* =======================================
  Padrões gerais
  ======================================= */

body {
  background-color: var(--base);
  color: var(--text-color);
  font-family: Arial;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

main, body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  margin: 2rem;
}

footer {
  background-color: var(--terciaria);
  color: var(--base);
  padding: 1rem;
  text-align: center;
}

p {
  font-size: 1rem;
  margin: 0;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: var();
}

input {
  padding: 1rem;
  border: 1px solid var(--text-color);
  border-radius: 10px;
  font-size: 1rem;
  box-sizing: border-box;
}

input:focus {
  border-color: var(--dominante);
  outline: none;
}

/* =======================================
  Helpers
  ======================================= */
.centralizar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: var(--form-background-color);
  padding: 2.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px var(--box-shadow-color);
  box-sizing: border-box;
}

.btnPrincipal {
  padding: 1rem;
  background-color: var(--dominante);
  width: fit-content;
  color: white;
  border: 2px solid var(--dominante);
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btnPrincipal:hover {
  background-color: initial;
  color: var(--dominante);
}

.fechar-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
}

.fechar-btn:hover {
  color: black;
  cursor: pointer;
}