/* =======================================
  Tela de perfil
  ======================================= */

.card h1 {
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    text-align: center;
    color: var(--text-color);
}

.input-group {
    margin-bottom: 1.5rem;
}

.save-button, .input-group input {
    width: 100%;
}

.profile-width {
    width: 30%;
}