/* =======================================
  Tela de perfil
  ======================================= */

hr {
  border: none;
  height: 3px;
  background-color: var(--dominante);
  margin-bottom: 1.5rem;
}

.card h1 {
  color: var(--text-color);
  font-size: 2rem;
  margin-bottom: 1.5rem;
  margin-top: 0;
  text-align: center;
}

.celula {
  margin-bottom: 1.5rem;
}

.celula input, .botao-salvar {
  width: 100%;
}

.largura-perfil-card {
  width: 40%;
}

@media screen and (max-width: 500px) {
  .largura-perfil-card {
    width: 90%;
  }
}
