/* =======================================
  Tela de ranque
  ======================================= */

section {
  margin-bottom: 2rem;
}

.botoes-ranking {
  display: flex;
  gap: 15px; 
  margin-bottom: 2rem; 
}

.tabela-ranking {
  width: 100%;
}