
table {
  background: var(--base);
  border-collapse: collapse;
  margin: 0 auto;
  width: 100%;
}

td, th {
  padding: 12px 8px;
  text-align: center;
}

th {
  background-color: var(--dominante);
  color: #fff;
}

tr:hover {
  border: 2px solid var(--dominante);
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: var(--quaternaria);
}

.botoes-ranking {
  display: flex;
  gap: 15px; 
  margin-bottom: 2rem; 
}

.tabela-ranking {
    width: 100%;
}